.details {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 2px solid cyan;
  top: 40%;
  left: 40%;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
